/* 基础设置 */
.container {
  width: 1190px;
  margin: 0 auto;
}
/* 顶部导航条start */
.topbar {
  height: 30px;
  background-color: #ececec;
}
.welcome {
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 0;
}
.welcome span,
.welcome a {
  font-size: 12px;
}
.welcome .hello {
  margin-right: 28px;
}
.welcome .login {
  border-right: 1px solid;
  padding-right: 10px;
}
.welcome .register {
  padding-left: 10px;
}
.topbar_right .list {
  height: 30px;
  line-height: 30px;
}
.topbar_right .list li {
  float: left;
}
.topbar_right .list li a {
  font-size: 12px;
  padding: 0 15px;
  border-left: 1px solid;
}
.topbar_right .list li:first-child a {
  border-left: 0;
  padding-left: 0;
}
.topbar_right .list li:last-child a {
  padding-right: 0;
}
/* 顶部导航条end */

/* 头部start */
.header .container {
  height: 120px;
}
.logo {
  width: 190px;
  height: 120px;
}
.search form {
  margin-top: 42px;
  font-size: 0;
}
.search form input {
  width: 508px;
  height: 34px;
  border: 1px solid rgba(221, 48, 45, 1);
}
.search form button {
  width: 80px;
  height: 36px;
  background: #dd302d;
  border: 1px solid rgba(221, 48, 45, 1);
  background-image: url("images/serch_icon.png");
  background-repeat: no-repeat;
  background-position: 28px 6px;
  cursor: pointer;
  vertical-align: top;
}
/* 头部end */
